<div class="container-fluid">
    <div class="row">
        <div class="col-md-12 well">
            <table class="horarioTable">
                <thead>
                    <tr>
                        <th width="4%">&nbsp;</th>
                        <th width="16%">Lunes</th>
                        <th width="16%">Martes</th>
                        <th width="16%">Miercoles</th>
                        <th width="16%">Jueves</th>
                        <th width="16%">Viernes</th>
                        <th width="16%">Sabado</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>07:00</td>

                        <td id="hr1" class="sin-materia"></td>

                        <td id="hr2" class="sin-materia"></td>

                        <td id="hr3" class="sin-materia"></td>

                        <td id="hr4" class="sin-materia"></td>

                        <td id="hr5" class="sin-materia"></td>

                        <td id="hr6" class="sin-materia"></td>

                    </tr>
                    <tr>
                        <td>08:00</td>

                        <td id="hr7" class="sin-materia"></td>

                        <td id="hr8" class="sin-materia"></td>

                        <td id="hr9" class="sin-materia"></td>

                        <td id="hr10" class="sin-materia"></td>

                        <td id="hr11" class="sin-materia"></td>

                        <td id="hr12" class="sin-materia"></td>

                    </tr>
                    <tr>
                        <td>09:00</td>

                        <td id="hr13" class="sin-materia"></td>

                        <td id="hr14" class="sin-materia"></td>

                        <td id="hr15" class="sin-materia"></td>

                        <td id="hr16" class="sin-materia"></td>

                        <td id="hr17" class="sin-materia"></td>

                        <td id="hr18" class="sin-materia"></td>

                    </tr>
                    <tr>
                        <td>10:00</td>

                        <td id="hr19" class="sin-materia"></td>

                        <td id="hr20" class="sin-materia"></td>

                        <td id="hr21" class="sin-materia"></td>

                        <td id="hr22" class="sin-materia"></td>

                        <td id="hr23" class="sin-materia"></td>

                        <td id="hr24" class="sin-materia"></td>

                    </tr>
                    <tr>
                        <td>11:00</td>

                        <td id="hr25" class="sin-materia"></td>

                        <td id="hr26" class="sin-materia"></td>

                        <td id="hr27" class="sin-materia"></td>

                        <td id="hr28" class="sin-materia"></td>

                        <td id="hr29" class="sin-materia"></td>

                        <td id="hr30" class="sin-materia"></td>

                    </tr>
                    <tr>
                        <td>12:00</td>

                        <td id="hr31" class="sin-materia"></td>

                        <td id="hr32" class="sin-materia"></td>

                        <td id="hr33" class="sin-materia"></td>

                        <td id="hr34" class="sin-materia"></td>

                        <td id="hr35" class="sin-materia"></td>

                        <td id="hr36" class="sin-materia"></td>

                    </tr>
                    <tr>
                        <td>13:00</td>

                        <td id="hr37" class="sin-materia"></td>

                        <td id="hr38" class="sin-materia"></td>

                        <td id="hr39" class="sin-materia"></td>

                        <td id="hr40" class="sin-materia"></td>

                        <td id="hr41" class="sin-materia"></td>

                        <td id="hr42" class="sin-materia"></td>

                    </tr>
                    <tr>
                        <td>14:00</td>

                        <td id="hr43" class="sin-materia"></td>

                        <td id="hr44" class="sin-materia"></td>

                        <td id="hr45" class="sin-materia"></td>

                        <td id="hr46" class="sin-materia"></td>

                        <td id="hr47" class="sin-materia"></td>

                        <td id="hr48" class="sin-materia"></td>

                    </tr>
                    <tr>
                        <td>15:00</td>

                        <td id="hr49" class="sin-materia"></td>

                        <td id="hr50" class="sin-materia"></td>

                        <td id="hr51" class="sin-materia"></td>

                        <td id="hr52" class="sin-materia"></td>

                        <td id="hr53" class="sin-materia"></td>

                        <td id="hr54" class="sin-materia"></td>

                    </tr>
                    <tr>
                        <td>16:00</td>

                        <td id="hr55" class="sin-materia"></td>

                        <td id="hr56" class="sin-materia"></td>

                        <td id="hr57" class="sin-materia"></td>

                        <td id="hr58" class="sin-materia"></td>

                        <td id="hr59" class="sin-materia"></td>

                        <td id="hr60" class="sin-materia"></td>

                    </tr>
                    <tr>
                        <td>17:00</td>

                        <td id="hr61" class="sin-materia"></td>

                        <td id="hr62" class="sin-materia"></td>

                        <td id="hr63" class="sin-materia"></td>

                        <td id="hr64" class="sin-materia"></td>

                        <td id="hr65" class="sin-materia"></td>

                        <td id="hr66" class="sin-materia"></td>

                    </tr>
                    <tr>
                        <td>18:00</td>

                        <td id="hr67" class="sin-materia"></td>

                        <td id="hr68" class="sin-materia"></td>

                        <td id="hr69" class="sin-materia"></td>

                        <td id="hr70" class="sin-materia"></td>

                        <td id="hr71" class="sin-materia"></td>

                        <td id="hr72" class="sin-materia"></td>

                    </tr>
                    <tr>
                        <td>19:00</td>

                        <td id="hr73" class="sin-materia"></td>

                        <td id="hr74" class="sin-materia"></td>

                        <td id="hr75" class="sin-materia"></td>

                        <td id="hr76" class="sin-materia"></td>

                        <td id="hr77" class="sin-materia"></td>

                        <td id="hr78" class="sin-materia"></td>

                    </tr>
                    <tr>
                        <td>20:00</td>

                        <td id="hr79" class="sin-materia"></td>

                        <td id="hr80" class="sin-materia"></td>

                        <td id="hr81" class="sin-materia"></td>

                        <td id="hr82" class="sin-materia"></td>

                        <td id="hr83" class="sin-materia"></td>

                        <td id="hr84" class="sin-materia"></td>

                    </tr>
                    <tr>
                        <td>21:00</td>

                        <td id="hr85" class="sin-materia"></td>

                        <td id="hr86" class="sin-materia"></td>

                        <td id="hr87" class="sin-materia"></td>

                        <td id="hr88" class="sin-materia"></td>

                        <td id="hr89" class="sin-materia"></td>

                        <td id="hr90" class="sin-materia"></td>

                    </tr>
                    <tr>
                        <td>22:00</td>

                        <td id="hr91" class="sin-materia"></td>

                        <td id="hr92" class="sin-materia"></td>

                        <td id="hr93" class="sin-materia"></td>

                        <td id="hr94" class="sin-materia"></td>

                        <td id="hr95" class="sin-materia"></td>

                        <td id="hr96" class="sin-materia"></td>

                    </tr>
                </tbody>
                <tfoot>
                    <tr>
                        <th width="4%">&nbsp;</th>
                        <th width="16%">Lunes</th>
                        <th width="16%">Martes</th>
                        <th width="16%">Miercoles</th>
                        <th width="16%">Jueves</th>
                        <th width="16%">Viernes</th>
                        <th width="16%">Sabado</th>
                    </tr>
                </tfoot>
            </table>
            <div align="center" id="hrPrintable"><br><br><a href="#modalPrintable" class="btn btn-danger" data-toggle="modal">Ver Formato Imprimible</a></div>
            
            <!--  Horario Printable Modal -->
            <div id="modalPrintable" class="modal fade">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                            <h4 class="modal-title">Horario Imprimible</h4>
                        </div>
                        <div class="modal-body">
                            <table class="table table-bordered">
                                <thead>
                                    <tr>
                                        <th width="4%">&nbsp;</th>
                                        <th width="16%">Lunes</th>
                                        <th width="16%">Martes</th>
                                        <th width="16%">Miercoles</th>
                                        <th width="16%">Jueves</th>
                                        <th width="16%">Viernes</th>
                                        <th width="16%">Sabado</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>07:00</td>

                                        <td id="phr1" class="sin-materia"></td>

                                        <td id="phr2" class="sin-materia"></td>

                                        <td id="phr3" class="sin-materia"></td>

                                        <td id="phr4" class="sin-materia"></td>

                                        <td id="phr5" class="sin-materia"></td>

                                        <td id="phr6" class="sin-materia"></td>

                                    </tr>
                                    <tr>
                                        <td>08:00</td>

                                        <td id="phr7" class="sin-materia"></td>

                                        <td id="phr8" class="sin-materia"></td>

                                        <td id="phr9" class="sin-materia"></td>

                                        <td id="phr10" class="sin-materia"></td>

                                        <td id="phr11" class="sin-materia"></td>

                                        <td id="phr12" class="sin-materia"></td>

                                    </tr>
                                    <tr>
                                        <td>09:00</td>

                                        <td id="phr13" class="sin-materia"></td>

                                        <td id="phr14" class="sin-materia"></td>

                                        <td id="phr15" class="sin-materia"></td>

                                        <td id="phr16" class="sin-materia"></td>

                                        <td id="phr17" class="sin-materia"></td>

                                        <td id="phr18" class="sin-materia"></td>

                                    </tr>
                                    <tr>
                                        <td>10:00</td>

                                        <td id="phr19" class="sin-materia"></td>

                                        <td id="phr20" class="sin-materia"></td>

                                        <td id="phr21" class="sin-materia"></td>

                                        <td id="phr22" class="sin-materia"></td>

                                        <td id="phr23" class="sin-materia"></td>

                                        <td id="phr24" class="sin-materia"></td>

                                    </tr>
                                    <tr>
                                        <td>11:00</td>

                                        <td id="phr25" class="sin-materia"></td>

                                        <td id="phr26" class="sin-materia"></td>

                                        <td id="phr27" class="sin-materia"></td>

                                        <td id="phr28" class="sin-materia"></td>

                                        <td id="phr29" class="sin-materia"></td>

                                        <td id="phr30" class="sin-materia"></td>

                                    </tr>
                                    <tr>
                                        <td>12:00</td>

                                        <td id="phr31" class="sin-materia"></td>

                                        <td id="phr32" class="sin-materia"></td>

                                        <td id="phr33" class="sin-materia"></td>

                                        <td id="phr34" class="sin-materia"></td>

                                        <td id="phr35" class="sin-materia"></td>

                                        <td id="phr36" class="sin-materia"></td>

                                    </tr>
                                    <tr>
                                        <td>13:00</td>

                                        <td id="phr37" class="sin-materia"></td>

                                        <td id="phr38" class="sin-materia"></td>

                                        <td id="hr39" class="sin-materia"></td>

                                        <td id="phr40" class="sin-materia"></td>

                                        <td id="phr41" class="sin-materia"></td>

                                        <td id="phr42" class="sin-materia"></td>

                                    </tr>
                                    <tr>
                                        <td>14:00</td>

                                        <td id="phr43" class="sin-materia"></td>

                                        <td id="phr44" class="sin-materia"></td>

                                        <td id="phr45" class="sin-materia"></td>

                                        <td id="phr46" class="sin-materia"></td>

                                        <td id="phr47" class="sin-materia"></td>

                                        <td id="phr48" class="sin-materia"></td>

                                    </tr>
                                    <tr>
                                        <td>15:00</td>

                                        <td id="phr49" class="sin-materia"></td>

                                        <td id="phr50" class="sin-materia"></td>

                                        <td id="phr51" class="sin-materia"></td>

                                        <td id="phr52" class="sin-materia"></td>

                                        <td id="phr53" class="sin-materia"></td>

                                        <td id="phr54" class="sin-materia"></td>

                                    </tr>
                                    <tr>
                                        <td>16:00</td>

                                        <td id="phr55" class="sin-materia"></td>

                                        <td id="phr56" class="sin-materia"></td>

                                        <td id="phr57" class="sin-materia"></td>

                                        <td id="phr58" class="sin-materia"></td>

                                        <td id="phr59" class="sin-materia"></td>

                                        <td id="phr60" class="sin-materia"></td>

                                    </tr>
                                    <tr>
                                        <td>17:00</td>

                                        <td id="phr61" class="sin-materia"></td>

                                        <td id="phr62" class="sin-materia"></td>

                                        <td id="phr63" class="sin-materia"></td>

                                        <td id="phr64" class="sin-materia"></td>

                                        <td id="phr65" class="sin-materia"></td>

                                        <td id="phr66" class="sin-materia"></td>

                                    </tr>
                                    <tr>
                                        <td>18:00</td>

                                        <td id="phr67" class="sin-materia"></td>

                                        <td id="phr68" class="sin-materia"></td>

                                        <td id="phr69" class="sin-materia"></td>

                                        <td id="phr70" class="sin-materia"></td>

                                        <td id="phr71" class="sin-materia"></td>

                                        <td id="phr72" class="sin-materia"></td>

                                    </tr>
                                    <tr>
                                        <td>19:00</td>

                                        <td id="phr73" class="sin-materia"></td>

                                        <td id="phr74" class="sin-materia"></td>

                                        <td id="phr75" class="sin-materia"></td>

                                        <td id="phr76" class="sin-materia"></td>

                                        <td id="phr77" class="sin-materia"></td>

                                        <td id="phr78" class="sin-materia"></td>

                                    </tr>
                                    <tr>
                                        <td>20:00</td>

                                        <td id="phr79" class="sin-materia"></td>

                                        <td id="phr80" class="sin-materia"></td>

                                        <td id="phr81" class="sin-materia"></td>

                                        <td id="phr82" class="sin-materia"></td>

                                        <td id="phr83" class="sin-materia"></td>

                                        <td id="phr84" class="sin-materia"></td>

                                    </tr>
                                    <tr>
                                        <td>21:00</td>

                                        <td id="phr85" class="sin-materia"></td>

                                        <td id="phr86" class="sin-materia"></td>

                                        <td id="phr87" class="sin-materia"></td>

                                        <td id="phr88" class="sin-materia"></td>

                                        <td id="phr89" class="sin-materia"></td>

                                        <td id="phr90" class="sin-materia"></td>

                                    </tr>
                                    <tr>
                                        <td>22:00</td>

                                        <td id="phr91" class="sin-materia"></td>

                                        <td id="phr92" class="sin-materia"></td>

                                        <td id="phr93" class="sin-materia"></td>

                                        <td id="phr94" class="sin-materia"></td>

                                        <td id="phr95" class="sin-materia"></td>

                                        <td id="phr96" class="sin-materia"></td>

                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                            <button type="button" class="btn btn-primary btn-danger">Imprimir</button>
                        </div>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
</div>